#container{
    height: 500px;
    display: flex;
    align-items: flex-end;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar{
    width: 20px;
    margin: 1px;
    background-color: black;
}